.container {
  background: black;
  display: inline-block;
  border: 5px solid black;
}

.button-container {
justify-items: center;
align-items: center;
}

.grid {
  display: grid;
  height: 500px;
  width: 500px;
  grid-gap: 1px;
}

.cell {
   /* center the cell content */
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: Arial;
  font-size: 3rem;
  font-weight: bold;
  background: white;
}