body {
    background-color: antiquewhite;
}

#container {
    width: 1000px;
    height: 500px;
    margin: 50px, auto;
    background-color: brown;
}

#caluclator {
    background-color: blueviolet;

}




/* .display {
    background: rgb(132, 165, 161);
    font-size: x-large;
    display: grid;
    justify-content: right;
    align-items: center;
    border: 5px solid black;
    height: 20px;
    padding: 0.5em;
}

.pad {
    background: rgb(221, 109, 109);
    display: grid;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 2px;
    row-gap: 2px;
}

button {
    font-size: small; 
    text-align: center;
    padding: 1em;
} */