body {
    background-color: rgb(173, 173, 173);
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    font-size: 30px;
}
p {
    font-size: 50px;
    font-weight: bold;
    text-align: justify;
    padding-right: 100px;
    padding-left: 100px;
}
span {
    width:100%;
    height:1em;
    display:inline-block;
}


#card {
    padding-top: 30px;
    height: 200px;
    background-color: rgb(114, 114, 114);
    border-radius: 5%;
    position: relative;
}

.readButton {
    background-color: rgb(107, 201, 207);
    border-style: hidden;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 5px;
}

.deleteButton {
    background-color: lightpink;
    border-style: hidden;
    position: absolute;
    bottom: 20px;
    left: 20px;
    border-radius: 5px;
}

#input-field {
    display: none;
    padding-bottom: 30px;
}

.input-block {
    display: inline-block;
    padding-bottom: 30px;
}